// ::ng-deep #timeline-albe section {
//   border: blue 2px solid;
// }

fieldset {
  float: left;
  width: 150px;
}

form {
  margin-bottom: 50px;
}

.box {
  width: 350px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 20px;
}

.centro {
  margin: 0 auto;
  width: 90%;
  padding-bottom: 70px;
}
